<script context="module">
  export async function preload({ params, query }) {
    try {
      const res = await this.fetch(`../../../data/recipes/${params.slug}.json`);
      const data = await res.json();

      if (res.status === 200) return { recipeDetails: data };
    } catch (error) {
      this.error(400, `could not build recipe page for ${params.slug}`);
      return { recipeDetails: null };
    }
  }
</script>

<script>
  import Page from "../components/layout/Page.svelte";
  import RecipeContents from "../components/RecipeContents.svelte";
  import { goto } from "@sapper/app";

  export let recipeDetails;

  let metaTags;

  if (recipeDetails) {
    metaTags = {
      description: "Description for this recipe page.",
      slug: `/${recipeDetails.slug}`,
      thumb: "https://tidyrecipe.com/meta/social-thumb-general.png",
      title: `${recipeDetails.name}`
    };
  } else {
    // this is part of the hack to get the _error.svelte block to kick in,
    // which will try and see client-side if a recipe can be served,
    // even though there isn't a route built yet

    // this only kicks in if url is directly hit
    // otherwise, the _error.svelte file gets triggered from the catch block of script module above
    // because that block runs client-side and since there won't be a json file
    // it routes to the error template which can save the recipe loading!
    goto(window.location.pathname);
  }
</script>

<style>

</style>

{#if recipeDetails}
  <Page header="Recipe" {metaTags} fullWidth={false}>
    <RecipeContents {recipeDetails} />
  </Page>
{/if}
