<script>
  import Page from "../components/layout/Page.svelte";
  import RecipeContents from "../components/RecipeContents.svelte";

  export let status;
  export let error;

  const dev = process.env.NODE_ENV === "development";

  // this is just a placeholder to test out the theory that you can have temporary client side routes between builds
  // TODO: replace this with a cloud function call to check if there is a recipe
  let isTempRoute = true;
  const recipeDetails = {
    name: "New dish",
    author: "Jake White",
    slug: "new-dish"
  };
</script>

<style>

</style>

<svelte:head>
  <title>{status}</title>
</svelte:head>

{#if isTempRoute}
  <Page header="Recipe" metaTags={null} fullWidth={false}>
    <RecipeContents {recipeDetails} />
  </Page>
{:else}
  <Page header="Not Found" metaTags={null} fullWidth={false}>

    <p class="bigger">It doesn't look like there is a page here.</p>
    <a class="button is-secondary" href="/">Home</a>

    {#if dev && error.stack}
      <pre>{error.stack}</pre>
    {/if}
  </Page>
{/if}
