<script>
  import { onMount } from "svelte";
  import { loadSmoothScrollPolyfill } from "../scripts/load-smooth-scroll-polyfill.js";
  import Nav from "../components/layout/Nav.svelte";
  import Footer from "../components/layout/Footer.svelte";

  export let segment;

  onMount(async () => {
    if (detectIfSafari()) {
      await loadSmoothScrollPolyfill();
    }

    window.addEventListener("beforeinstallprompt", e => {
      // Prevent Chrome 67 and earlier from automatically showing the prompt for PWA
      e.preventDefault();
    });
  });

  function detectIfSafari() {
    return !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
  }
</script>

<style>
  main {
    min-height: 100vh;
  }
</style>

<Nav {segment} />

<main>
  <slot />
</main>

<Footer />
