<script>
  import { onMount } from "svelte";
  import Page from "../components/layout/Page.svelte";

  const metaTags = {
    description: "Description for about page.",
    slug: "/about",
    thumb: "https://tidyrecipe.com/meta/social-thumb-general.png",
    title: "About"
  };
</script>

<style>
  .image-placeholder {
    background-color: gray;
    height: 300px;
  }

  @media only screen and (max-width: 1023px) {
    .image-placeholder {
      width: calc(100%+3rem);
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  }
</style>

<Page header="About" {metaTags} fullWidth={false}>
  <p class="bigger mb-md">
    Check it out, an override of page padding on mobile only.
  </p>
  <div class="image-placeholder" />
</Page>
