<script>
  import { onMount } from "svelte";
  import Page from "../components/layout/Page.svelte";

  const metaTags = {
    description: "Description for blog page.",
    slug: "/blog",
    thumb: "https://tidyrecipe.com/meta/social-thumb-general.png",
    title: "Blog"
  };
</script>

<style>

</style>

<Page header="Blog" {metaTags} fullWidth={false}>
  <p class="bigger mb-md">
    Welcome to the blog that never was. I'd love to tell you about my
    inspiration for a wild goose dish I invented while backpacking through the
    Black Hills of South Dakota, but...
  </p>
  <ol>
    <li>That never happened</li>
    <li>I know you don't care anyway</li>
  </ol>
  <a href="recipes">Enough parody, show me the recipes!</a>
</Page>
