<script>
  import { onMount } from "svelte";
  import Page from "../components/layout/Page.svelte";
  import { lazyLoadFullImg } from "../scripts/lazy-load-full-img.js";

  const metaTags = {
    description: "A recipe website you actually want to use",
    slug: "/",
    thumb: "https://tidyrecipe.com/meta/social-thumb-general.png",
    title: "Home"
  };

  let alt = "";

  function scrollTo(id) {
    const element = document.querySelector(`#${id}`);
    element.scrollIntoView({
      behavior: "smooth"
    });
  }
</script>

<style>

</style>

<Page {metaTags} header={null} fullWidth={true}>
  <div
    class="full-height flex align-center has-text-centered"
    style="background-color: lightgray;">
    <div class="container content-padding">Full width example</div>
  </div>
  <div class="full-height flex align-center has-text-centered">
    <div class="container content-padding">No background here</div>
  </div>
</Page>

<!-- this only exists to generate the static page -->
<div style="display: none">
  <a href="not-found">Not Found</a>
</div>
