<script>
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";

  let show404 = false;

  onMount(() => {
    // this is part of my hack to allow for the client-side code
    // to kick in and find a recipe that doesn't have a route built yet
    setTimeout(() => {
      show404 = true;
    }, 2000);
  });
</script>

{#if show404}
  <p class="mb-md">Looks like there isn't a page here</p>
  <a class="button button-secondary button-large" href="/">Home</a>
{/if}
