<script context="module">
  export async function preload({ params, query }) {
    const res = await this.fetch(`../../data/recipes/all-recipes.json`);
    const data = await res.json();

    if (res.status === 200) {
      return { allRecipes: data };
    } else {
      // this will show up in the build log
      this.error(res.status, data.message);
    }
  }
</script>

<script>
  import { onMount, onDestroy } from "svelte";
  import { goto } from "@sapper/app";
  import Page from "../components/layout/Page.svelte";
  import RecipeCard from "../components/RecipeCard.svelte";
  import ViewToggle from "../components/ViewToggle.svelte";
  import { recipeView } from "../store/recipe-view";
  import { search } from "../store/search";
  import Fuse from "fuse.js";

  export let allRecipes;

  const metaTags = {
    description: "Description for recipes page.",
    slug: "/recipes",
    thumb: "https://tidyrecipe.com/meta/social-thumb-general.png",
    title: "Recipes"
  };

  const options = {
    shouldSort: true,
    keys: ["slug"],
    threshold: 0.4,
    minMatchCharLength: 2
  };

  let fuse;

  onMount(() => {
    fuse = new Fuse(allRecipes, options);
  });

  onDestroy(() => {
    //   TODO: replace this with proper store binding ike REPL example I made
    search.save({
      criteria: {
        name: nameSearchInput
      },
      results: searchResults,
      initialized: true
    });
  });

  let searchResults = $search.initialized ? $search.results : allRecipes;
  let nameSearchInput = $search.criteria.name;
  let showViewOptionsOnMobile = false;

  function nav() {
    goto(Date.now());
  }

  function changeRecipeView(event) {
    recipeView.set(event.detail.view);
  }

  function executeSearch() {
    searchResults = fuse.search(nameSearchInput).map(result => {
      return { ...result.item };
    });
  }
</script>

<style>
  .more-options-button,
  .view-options-button {
    width: 100%;
  }

  .options-buttons-container {
    margin-top: 0.25rem;
  }

  .options-buttons-container .left {
    padding: 0.75rem 0.375rem 0.375rem 0.75rem;
  }

  .options-buttons-container .right {
    padding: 0.75rem 0.75rem 0.375rem 0.375rem;
  }

  @media screen and (min-width: 1024px) {
    .view-options-button {
      visibility: hidden;
    }
  }

  @media screen and (max-width: 1023px) {
    #toggle-container:not(.show-toggle) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .options-buttons-container {
      margin-top: 0.5rem;
    }

    .options-buttons-container .column {
      padding: 0.375rem 0.75rem;
    }
  }
</style>

<Page header="Recipes" {metaTags} fullWidth={false}>
  <div class="columns is-multiline">
    <div
      class="column is-two-thirds-tablet is-half-desktop is-one-third-fullhd">
      <form on:submit|preventDefault={executeSearch}>
        <label class="label">Search</label>
        <div class="field is-grouped">
          <p class="control is-expanded has-icons-left">
            <span class="icon is-small is-left">
              <img
                width="15px"
                src="icons/search.svg"
                alt="search icon for now" />
            </span>
            <input
              class="input"
              type="text"
              placeholder="Search recipes by name"
              bind:value={nameSearchInput} />
          </p>
          <p class="control">
            <button class="button is-dark">Search</button>
          </p>
        </div>
      </form>
      <div class="columns options-buttons-container">
        <div class="column is-half-tablet left">
          <button
            class="button is-light is-outlined more-options-button"
            on:click={() => alert('there would be more search options to appear and the search button moved lower - also need to toggle text')}>
            More Search Options
          </button>
        </div>
        <div class="column is-half-tablet right">
          <button
            class="button is-light is-outlined view-options-button"
            on:click={() => (showViewOptionsOnMobile = !showViewOptionsOnMobile)}>
            <span>{showViewOptionsOnMobile ? 'Hide' : 'Show'}&nbsp</span>
            View Options
          </button>
        </div>
      </div>
    </div>
    <div
      id="toggle-container"
      class="column is-one-third-tablet is-half-desktop is-two-thirds-fullhd
      mb-md {showViewOptionsOnMobile ? 'show-toggle' : ''}">
      <ViewToggle currentView={$recipeView} on:toggle={changeRecipeView} />
    </div>

  </div>

  {#if searchResults.length}
    <h2>
      Showing {searchResults.length}
      {#if searchResults.length === 1}
        <span>result</span>
      {:else}
        <span>results</span>
      {/if}
      out of {allRecipes.length} total recipes in our database.
    </h2>
  {/if}
  <div class="columns is-multiline mt-sm">
    {#each searchResults as recipe (recipe.slug)}
      <div
        class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd
        mb-sm">
        <a href={`${recipe.slug}`}>
          <RecipeCard recipeDetails={recipe} viewType={$recipeView} />
        </a>
      </div>
    {:else}
      <div class="message is-danger">
        <p class="message-body">There are no matching search results.</p>
      </div>
    {/each}
  </div>
  <!-- <div>
    <button class="button is-secondary" on:click={nav}>
      New Recipe Route Test
    </button>
  </div> -->
</Page>

<!-- this only exists to generate each recipe route at build time since the search above defaults to empty -->
<div style="display: none">
  {#each allRecipes as recipe (recipe.slug)}
    <a href={`/${recipe.slug}`}>{recipe.name}</a>
  {/each}
</div>
