<script>

</script>

<style>
  footer {
    padding: 3rem 1rem;
    text-align: center;
    color: white;
  }

  .footer-text p {
    font-size: 1rem;
    margin-bottom: 0;
  }
</style>

<footer class="has-background-dark">
  <div class="columns is-multiline">
    <div class="column is-full">
      <div>Website designed and developed by</div>
      <a href="https://thegoat.dev" target="_blank">
        <img
          alt="The GOAT, LLC logo"
          src="img/goat-logo-horizontal.svg"
          style="height: 40px; width:auto;" />
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column footer-text">
      <p>© {new Date().getFullYear()} The GOAT, LLC.</p>
      <p>All rights reserved.</p>
    </div>
  </div>
</footer>
