<script>
  export let metaTags;
</script>

<svelte:head>
  <title>{metaTags.title} | Tidy Recipe</title>
  <meta name="description" content={metaTags.description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://tidyrecipe.com/{metaTags.slug}" />
  <meta property="og:title" content={metaTags.title} />
  <meta property="og:description" content={metaTags.description} />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@tidy_recipe" />
  <meta name="twitter:url" content="https://tidyrecipe.com/{metaTags.slug}" />
  <meta name="twitter:title" content={metaTags.title} />
  <meta name="twitter:description" content={metaTags.description} />

  {#if metaTags.thumb}
    <meta property="og:image" content={metaTags.thumb} />
    <meta name="twitter:image" content={metaTags.thumb} />
    <meta name="twitter:image:alt" content={metaTags.thumbAltText} />
  {/if}
</svelte:head>
