<script>
  import { mobileMenu } from "../../store/mobile-menu.js";
  export let segment;
</script>

<style>
  .navbar-offset {
    margin-top: 85px !important;
  }

  .menu-logo {
    max-height: 58px;
    max-width: 35vw;
    margin: 12px 75px 8px 8px;
  }

  .navbar-item {
    padding-left: 20px !important;
    padding-right: 20px !important;
    letter-spacing: 1px;
  }

  .navbar,
  .navbar-burger {
    height: 85px !important;
  }

  .navbar-burger span {
    transition-duration: 400ms !important;
  }

  .navbar-burger span {
    height: 2px !important;
  }

  .button.is-primary:focus:not(:active) {
    box-shadow: none;
  }

  a.navbar-item:hover,
  div.is-active a.navbar-item.nav-selected {
    color: white;
    background-color: orange;
  }

  a.navbar-item.nav-selected {
    background-color: orange;
  }

  .menu-logo-container {
    display: flex;
    align-items: center;
  }
</style>

<div>
  <nav
    class="navbar is-primary is-fixed-top"
    role="navigation"
    aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="menu-logo-container">
          <div>
            <img
              alt="goat-starter logo"
              src="img/goat-logo-horizontal.svg"
              class="menu-logo" />
          </div>
        </a>

        <button
          role="button"
          class="button is-primary menu-btn navbar-burger burger {$mobileMenu ? 'is-active' : ''}"
          aria-label=" menu"
          aria-expanded="false"
          on:click={mobileMenu.toggle}>
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </button>
      </div>

      <div class="navbar-menu {$mobileMenu ? 'is-active' : ''}">
        <div class="navbar-end">
          <a
            on:click={mobileMenu.toggle}
            class="{segment === 'about' ? 'nav-selected' : ''} navbar-item
            is-size-5 is-uppercase has-text-weight-semibold"
            href="about">
            About
          </a>
          <a
            on:click={mobileMenu.toggle}
            class="{segment === 'blog' ? 'nav-selected' : ''} navbar-item
            is-size-5 is-uppercase has-text-weight-semibold"
            href="blog">
            Blog
          </a>
          <a
            on:click={mobileMenu.toggle}
            class="{segment === 'recipes' ? 'nav-selected' : ''} navbar-item
            is-size-5 is-uppercase has-text-weight-semibold"
            href="recipes">
            Recipes
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="navbar-offset">
    <main>
      <slot />
    </main>
  </div>
</div>
