<script>
  import { fly } from "svelte/transition";
  import { onMount } from "svelte";
  import MetaTags from "./MetaTags.svelte";
  import { analytics } from "../../store/analytics.js";

  export let header;
  export let metaTags;
  export let fullWidth;

  onMount(() => {
    if (!$analytics.initialized) {
      const urlParams = new URLSearchParams(window.location.search);
      const campaign = urlParams.get("ref");
      const timestamp = new Date().getTime();
      const existingUserId = getUserCookie();
      const newUserId = `user${timestamp}`;

      analytics.init(
        campaign,
        timestamp,
        existingUserId || newUserId,
        Boolean(existingUserId)
      );

      if (!existingUserId) {
        document.cookie = `userId=${newUserId}; expires=Wed, 18 Dec 2222 12:00:00 UTC`;
      }
    }

    const path = window.location.pathname;

    if (!path.includes("analytics")) {
      let strippedPageView =
        path.charAt(path.length - 1) === "/" ? path.slice(0, -1) : path;

      const pageName = strippedPageView ? header : "Home";

      analytics.addPageView({ path: strippedPageView, name: pageName });

      // turn this off until actually coded
      // goat-starter
      // logAnalyticsData($analytics);
    }
  });

  function logAnalyticsData(analytics) {
    // comment this to work locally
    if (!analytics.isDevelopmentOrFbApp) {
      const blob = new Blob([JSON.stringify({ analytics: $analytics })], {
        type: "text/plain; charset=UTF-8"
      });

      navigator.sendBeacon(
        window.location.origin === "http://localhost:3000"
          ? "http://localhost:5000/the-goat-dev/us-central1/logAnalyticsData" // $ firebase serve --only functions
          : "https://us-central1-the-goat-dev.cloudfunctions.net/logAnalyticsData",
        blob
      );
    }
  }

  function getUserCookie() {
    return document.cookie.replace(
      /(?:(?:^|.*;\s*)userId\s*\=\s*([^;]*).*$)|^.*$/,
      "$1"
    );
  }
</script>

<style>

</style>

{#if metaTags}
  <MetaTags {metaTags} />
{/if}

<div class="pb-sm {!fullWidth ? 'container content-padding' : ''}">
  <div in:fly>
    {#if header}
      <h1 class="title is-size-2 is-size-3-mobile mt-lg pt-sm mb-md">
        {header}
      </h1>
    {/if}
    <div>
      <slot />
    </div>
  </div>
</div>
