<script>
  import { mobileMenuDisplay } from "../../store/mobile-menu";

  export let segment;
</script>

<style>
  .menu-logo-container {
    display: flex;
    align-items: center;
  }

  .menu-logo-container div {
    height: 100%;
  }

  .menu-logo {
    max-height: 65px;
    max-width: 35vw;
    padding: 12px 0px;
  }

  .navbar-item {
    padding-left: 20px !important;
    padding-right: 20px !important;
    letter-spacing: 1px;
  }

  .navbar,
  .navbar-burger {
    height: 65px !important;
  }

  .navbar-burger span {
    transition-duration: 400ms !important;
  }

  .navbar-burger span {
    height: 2px !important;
  }

  .nav-selected {
    color: white;
    background-color: var(--dark-color);
  }

  @media only screen and (max-width: 1023px) {
    .desktop-nav {
      display: none;
    }
  }
</style>

<div>
  <nav
    class="navbar is-primary is-fixed-top navbar-offset desktop-nav"
    role="navigation"
    aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="menu-logo-container">
          <div>
            <img
              alt="Tidy Recipe logo"
              src="img/placeholder-logo.svg"
              class="menu-logo" />
          </div>
        </a>
        <button
          role="button"
          class="button is-primary menu-btn navbar-burger burger"
          aria-label=" menu"
          aria-expanded="false"
          on:click={mobileMenuDisplay.toggle}>
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </button>

      </div>

      <div class="navbar-menu">
        <div class="navbar-end" on:click={mobileMenuDisplay.close}>
          <a
            class="navbar-item is-size-5 is-uppercase has-text-weight-semibold {segment === 'about' ? 'nav-selected' : ''}"
            href="about">
            About
          </a>
          <a
            class="navbar-item is-size-5 is-uppercase has-text-weight-semibold {segment === 'recipes' ? 'nav-selected' : ''}"
            href="recipes">
            Recipes
          </a>
          <a
            class="navbar-item is-size-5 is-uppercase has-text-weight-semibold {segment === 'blog' ? 'nav-selected' : ''}"
            href="blog">
            Blog
          </a>
          <a
            class="navbar-item is-size-5 is-uppercase has-text-weight-semibold {segment === 'events' ? 'nav-selected' : ''}"
            href="events">
            Events
          </a>
          <a
            class="navbar-item is-size-5 is-uppercase has-text-weight-semibold {segment === 'contact' ? 'nav-selected' : ''}"
            href="contact">
            Contact
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>
