<script>
  import NavMenuList from "./NavMenuList.svelte";
  import { mobileMenuDisplay } from "../../store/mobile-menu.js";

  export let segment;
</script>

<style>
  .menu-logo {
    height: 40px;
    width: auto;
    margin: 6px;
  }

  .menu-logo-container {
    display: flex;
    align-items: center;
  }

  .navbar,
  .navbar-burger {
    height: 55px;
  }

  .navbar-burger span {
    transition-duration: 400ms;
  }

  .navbar-burger span {
    height: 2px;
  }

  @media only screen and (min-width: 1024px) {
    .mobile-nav {
      display: none;
    }
  }
</style>

<nav
  class="navbar is-primary is-fixed-top mobile-nav"
  role="navigation"
  aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a
        on:click={mobileMenuDisplay.close}
        href="/"
        class="menu-logo-container">
        <img
          alt="Tidy Recipe logo"
          src="img/placeholder-logo.svg"
          class="menu-logo" />
      </a>

      <button
        role="button"
        class="button is-primary menu-btn navbar-burger burger {$mobileMenuDisplay ? 'is-active' : ''}"
        aria-label=" menu"
        aria-expanded="false"
        on:click={mobileMenuDisplay.toggle}>
        <span aria-hidden="true" />
        <span aria-hidden="true" />
        <span aria-hidden="true" />
      </button>

    </div>
    {#if $mobileMenuDisplay}
      <NavMenuList {segment} />
    {/if}

  </div>
</nav>
