<script>
  import { fly } from "svelte/transition";
  import { mobileMenuDisplay } from "../../store/mobile-menu.js";

  export let segment;
</script>

<style>
  .menu {
    padding: 1rem 20% 1rem 10%;
    min-height: 100vh;
  }

  .menu-list a,
  .menu-list a.is-active {
    color: var(--light-color);
    transition: 0.25s;
  }

  .menu-list a:hover,
  .menu-list a.is-active,
  .menu-list a.is-active:hover {
    color: var(--dark-color);
    background-color: var(--light-color);
  }

  .nav-link {
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 1023px) {
    .menu {
      background-color: var(--dark-color) !important;
      padding: 0rem 4rem 8rem 4rem;
    }
  }
</style>

<div
  class="menu flex align-center justify-center"
  transition:fly={{ x: 600, duration: 500 }}>
  <div>
    <ul class="menu-list is-dark has-text-centered my-sm">
      <li style="display:none;">
        <a href="/analytics">Analytics</a>
      </li>
      <li transition:fly={{ x: 600, duration: 200, delay: 350 }}>
        <a
          on:click={mobileMenuDisplay.close}
          class="nav-link {segment === 'about' ? 'is-active' : ''}"
          href="/about">
          About
        </a>
      </li>
      <li transition:fly={{ x: 600, duration: 200, delay: 350 }}>
        <a
          on:click={mobileMenuDisplay.close}
          class="nav-link {segment === 'recipes' ? 'is-active' : ''}"
          href="/recipes">
          Recipes
        </a>
      </li>
      <li transition:fly={{ x: 600, duration: 200, delay: 350 }}>
        <a
          on:click={mobileMenuDisplay.close}
          class="nav-link {segment === 'blog' ? 'is-active' : ''}"
          href="/blog">
          Blog
        </a>
      </li>
    </ul>
  </div>

</div>
