<script>
  export let data;
  export let label;
</script>

<style>
  .data {
    font-size: 2rem;
  }

  .label {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: gray;
  }
</style>

<div class="flex-center has-text-centered my-xs px-xs">
  <div>
    <p class="data">{data}</p>
    <p class="label">{label}</p>
  </div>
</div>
