<script>
  import { fly } from "svelte/transition";

  export let name;
  export let listData;
  export let propertyNames;
  export let swappingData;
</script>

<style>
  .table-row {
    display: flex !important;
    margin-bottom: 4px;
  }

  .right-content {
    justify-content: flex-end;
    margin-left: auto;
  }

  .list-card {
    width: 100%;
    min-height: 250px;
  }
</style>

<div class="card list-card px-md py-sm">
  <h2 class="is-size-4 mb-sm has-text-centered has-text-weight-bold">{name}</h2>
  <div>
    {#each listData as listItem, i}
      {#if !swappingData}
        <div
          in:fly={{ y: -25, duration: 150 }}
          out:fly={{ y: 25, duration: 150 }}
          class="table-row">
          <div>
            <p>{listItem[propertyNames[0]]}</p>
          </div>
          <div class="right-content">
            <p>{listItem[propertyNames[1]]}</p>
          </div>
        </div>
      {/if}
    {:else}
      <div class="has-text-centered">No data</div>
    {/each}
  </div>
</div>
