@charset "utf-8";
@import "./variables";
@import "./bulma";

// spacing helpers
$spaceamounts: (("0", 0), ("xs", 0.25), ("sm", 0.5), ("md", 1), ("lg", 2), ("xl", 4), ("xxl", 8));
$sides: (top, bottom, left, right, x, y, a);

@each $space in $spaceamounts {
	@each $side in $sides {
		$spaceKey: nth($space, 1);
		$spaceVal: nth($space, 2);

		@if $side == a {
			.ma-#{$spaceKey} {
				margin: #{$spaceVal}rem !important;
			}
			.pa-#{$spaceKey} {
				padding: #{$spaceVal}rem !important;
			}
		} @else if $side == x {
			.mx-#{$spaceKey} {
				margin-left: #{$spaceVal}rem !important;
				margin-right: #{$spaceVal}rem !important;
			}
			.px-#{$spaceKey} {
				padding-left: #{$spaceVal}rem !important;
				padding-right: #{$spaceVal}rem !important;
			}
		} @else if $side == y {
			.my-#{$spaceKey} {
				margin-top: #{$spaceVal}rem !important;
				margin-bottom: #{$spaceVal}rem !important;
			}
			.py-#{$spaceKey} {
				padding-top: #{$spaceVal}rem !important;
				padding-bottom: #{$spaceVal}rem !important;
			}
		} @else {
			.m#{str-slice($side, 0, 1)}-#{$spaceKey} {
				margin-#{$side}: #{$spaceVal}rem !important;
			}
			.p#{str-slice($side, 0, 1)}-#{$spaceKey} {
				padding-#{$side}: #{$spaceVal}rem !important;
			}
		}
	}
}
// end spacing helpers

// custome buttons styles
.button {
	transition: 0.5s;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.button.is-primary:hover {
	background-color: darken($primary, 15%) !important;
}

.button.is-success:hover {
	background-color: darken($success, 15%) !important;
}

.button.is-secondary:hover {
	background-color: darken($secondary, 15%) !important;
}

.button.is-warning:hover {
	background-color: darken($warning, 15%) !important;
}

.button.is-danger:hover {
	background-color: darken($danger, 15%) !important;
}

.button.is-light:hover {
	background-color: darken($light, 15%) !important;
}

.button.is-dark:hover {
	background-color: darken($dark, 15%) !important;
}

.button.is-info:hover {
	background-color: darken($info, 15%) !important;
}

.button.is-light.is-outlined {
	color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.7);
}

.button.is-light.is-outlined:focus {
	border-color: #f0f3f4;
	color: rgba(0, 0, 0, 0.7);
	background-color: #c4d0d4;
}

// end custom button styles

// card styles
.card {
	box-shadow: var(--box-shadow);
	border: none;
	border-radius: 10px;
}

// end card styles

// random styles

html {
	background-color: var(--light-color);
}

a {
	font-weight: bold;
	color: var(--secondary-color);
}

a:hover {
	color: var(--dark-color);
}

p.bigger {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

@media screen and (max-width: 1023px) {
	p.bigger {
		font-size: 1.25rem !important;
	}
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.full-height {
	min-height: calc(100vh - 55px); // account for nav
}

.display-none {
	display: none;
}

.display-inherit {
	display: inherit;
}

@media only screen and (max-width: 1023px) {
	.content-padding {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
// end random styles
