@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
$family-sans-serif: "Nunito", sans-serif;

@import "../../node_modules/bulma/sass/utilities/_all";

// AA accessbile color pallette
$primary: #0074d9;
$secondary: #ff7f3f;
$success: #008849;
$info: #b10dc9;
$danger: #e60b00;
$warning: $yellow;
$light: #f0f3f4;
$dark: #353c3f;

$primary-invert: findColorInvert($primary);
$secondary-invert: findColorInvert($secondary);
$success-invert: findColorInvert($success);
$info-invert: findColorInvert($info);
$danger-invert: findColorInvert($danger);
$warning-invert: findColorInvert($warning);
$light-invert: findColorInvert($light);
$dark-invert: findColorInvert($dark);

$colors: (
	"primary": (
		$primary,
		$primary-invert,
	),
	"secondary": (
		$secondary,
		$secondary-invert,
	),
	"success": (
		$success,
		$success-invert,
	),
	"info": (
		$info,
		$info-invert,
	),
	"danger": (
		$danger,
		$danger-invert,
	),
	"warning": (
		$warning,
		$warning-invert,
	),
	"light": (
		$light,
		$light-invert,
	),
	"dark": (
		$dark,
		$dark-invert,
	),
);

// other overwrites
$gap: 50px;

// Assign same colors to css variables so they can easily be used in svelte templates without having to do SCSS preprocessing legwork
:root {
	--primary-color: #{$primary};
	--primary-color-invert: #{findColorInvert($primary)};
	--secondary-color: #{$secondary};
	--secondary-color-invert: #{findColorInvert($secondary)};
	--success-color: #{$success};
	--success-color-invert: #{findColorInvert($success)};
	--info-color: #{$info};
	--info-color-invert: #{findColorInvert($info)};
	--danger-color: #{$danger};
	--danger-color-invert: #{findColorInvert($danger)};
	--warning-color: #{$warning};
	--warning-color-invert: #{findColorInvert($warning)};
	--light-color: #{$light};
	--light-color-invert: #{findColorInvert($light)};
	--dark-color: #{$dark};
	--dark-color-invert: #{findColorInvert($dark)};
	--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
