<script>
  export let recipeDetails;
  export let viewType;
</script>

<style>
  .card {
    border-radius: 20px !important;
  }

  .recipe-card {
    padding: 0;
  }

  .my-label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 12px;
    color: hsl(200, 25%, 45%);
    margin-bottom: 0 !important;
  }

  .align-center {
    display: flex;
    align-items: center;
  }

  .avatar {
    margin-right: 0.75rem;
    width: 55px;
    height: 55px;
  }

  .avatar img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .bottom {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0 0 20px 20px;
  }

  .detail-card h2 {
    letter-spacing: 0.5px;
    margin-bottom: 0.75rem !important;
	line-height: 1.25;
  }

  .image-card h2 {
    letter-spacing: 0.5px;
  }

  .detail-card h3 {
    margin-top: 0.75rem !important;
  }

  .title-headers {
    padding: 1rem 1rem 0.25rem 1rem;
  }

  .title-headers h2,
  .title-headers h3 {
    font-weight: bold;
  }

  .author-name {
    text-overflow: ellipsis;
  }

  :root {
    --star-size: 20px;
    --star-color: lightgray;
    --star-background: #fc0;
  }

  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
  }
  .Stars::before {
    content: "★★★★★";
    letter-spacing: 0px;
    background: linear-gradient(
      90deg,
      var(--star-background) var(--percent),
      var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .image-card {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  .image-card > header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  .image-card > header > h2 {
    margin: 0;
    color: white;
    text-shadow: 0px 1px 5px black;
  }

  .letter-spacing {
    letter-spacing: 0.5px;
  }

  .image-card {
    padding-bottom: 200px;
  }

  .summary-image-container {
    width: 100px;
    height: 150px;
    float: left;
  }

  .summary-image-container img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 20px 0 0 20px;
  }

  .list-card {
    padding: 0.5rem 1rem;
  }

 @media only screen and (min-width: 768px) {
    .detail-card, .list-card {
      height: 100%;
    }

	.detail-card h2 {
		height: 54px;
	}
  }
</style>

{#if viewType === 'Image'}
  <div
    class="card image-card"
    style="background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 40%, rgba(0,
    0, 0, 1) ), url({recipeDetails.mainPhoto}); background-size: cover;
    background-repeat: no-repeat; background-position: 50% 50%;">
    <header>
      <h2 class="is-size-4">{recipeDetails.name}</h2>
      <h3 class="is-size-6" style="color: white;">
        <span
          class="Stars"
          style="--rating: 4.4;"
          aria-label="Rating of this product is 4.4 out of 5." />
        <span class="has-text-weight-bold letter-spacing">
          4.4 (65 reviews)
        </span>
      </h3>
    </header>
  </div>
{:else if viewType === 'Thumb'}
  <div class="card summary-card">
    <div class="summary-image-container">
      <img src={recipeDetails.mainPhoto} alt="Placeholder image" />
    </div>
    <div style="height: 150px;" class="align-center">
      <div style="padding: 0 1rem;">
        <h2 class="is-size-5 has-text-weight-bold letter-spacing">
          {recipeDetails.name}
        </h2>
        <h3
          class="is-size-6 has-text-weight-bold letter-spacing"
          style="margin: .25rem 0;">
          <span
            class="Stars"
            style="--rating: 4.4;"
            aria-label="Rating of this product is 4.4 out of 5." />
          4.4 (65)
        </h3>
        <p>
          <span class="my-label">Time</span>
          3hrs 45 mins
        </p>
      </div>
    </div>
  </div>
{:else if viewType === 'List'}
  <div class="card list-card">
    <h2 class="is-size-5 has-text-weight-bold letter-spacing">
      {recipeDetails.name}
    </h2>
    <h3 class="is-size-6 has-text-weight-bold letter-spacing">
      <span
        class="Stars"
        style="--rating: 4.4;"
        aria-label="Rating of this product is 4.4 out of 5." />
      4.4 (65 reviews)
    </h3>
  </div>
{:else}
  <div class="card detail-card">
    <div class="card-image">
      <figure class="image is-3by2">
        <img
          style="border-radius: 20px 20px 0 0;"
          src={recipeDetails.mainPhoto}
          alt="Placeholder image" />
      </figure>
    </div>
    <div class="card-content recipe-card mb-sm">
      <div class="content">
        <div class="title-headers">
          <h2 class="is-size-5 truncate-overflow">{recipeDetails.name}</h2>
          <h3 class="is-size-6">
            <span
              class="Stars"
              style="--rating: 4.4;"
              aria-label="Rating of this product is 4.4 out of 5." />
            4.4 (65 reviews)
          </h3>
        </div>
        <div class="bottom">
          <div class="columns is-mobile align-center">
            <div class="column is-three-fifths">
              <div class="align-center">
                <div>
                  <div class="avatar align-center">
                    <img
                      src="https://pbs.twimg.com/profile_images/961950992458645507/IogUSHyV_400x400.jpg"
                      alt={`${recipeDetails.author} avatar`} />
                  </div>
                </div>
                <div>
                  <p class="my-label">Made By</p>
                  <p class="is-size-6 author-name">{recipeDetails.author}</p>
                </div>
              </div>
            </div>
            <div class="column is-two-fifths has-text-right">
              <div style="border-left: 1px solid #E0E0E0; padding-left: .25rem">
                <p class="my-label">Time</p>
                <p class="is-size-6">3 hrs 45 mins</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{/if}
