<script>
  export let recipeDetails;
</script>

<style>

</style>

<div>{recipeDetails.name}</div>
<div>{recipeDetails.author}</div>
<a class="button is-secondary" href="/recipes">Back to all recipes</a>
