<script>
  import { createEventDispatcher } from "svelte";
  import { leaderIcon } from "../../static/icons/inlined/leader-icon.js";
  import { depthIcon } from "../../static/icons/inlined/depth-icon.js";
  import { scheduleIcon } from "../../static/icons/inlined/schedule-icon.js";
  import { plusIcon } from "../../static/icons/inlined/plus-icon.js";

  export let currentView;

  const dispatch = createEventDispatcher();

  function toggle(event) {
    // there are technically three areas you can click, listed in order below
    // the button itself
    // the empty space within the svg
    // the path element within the svg
    const view =
      event.target.innerText ||
      event.target.parentNode.innerText ||
      event.target.parentNode.parentNode.innerText;

    dispatch("toggle", { view });
  }
</script>

<style>
  .vertical {
    flex-direction: column;
    align-content: center;
  }

  span {
    margin-top: 4px;
    margin-bottom: -4px;
    font-size: 10px;
    letter-spacing: 0.5px;
  }

  button {
    height: 55px;
    width: 50px;
  }

  button:focus {
    border: 1px solid var(--dark-color);
  }

  .is-dark svg {
    fill: white;
    transition: 0.5s;
    transform: scale(1);
  }

  svg {
    transition: 0.5s;
    transform: scale(0.75);
    width: 20px;
  }

  .period-button-group {
    padding-top: 2px;
  }

  .border {
    position: absolute;
    border: 2px solid var(--dark-color);
    height: 85px;
    width: 100%;
    top: 10px;
    border-radius: 10px;
    z-index: -1;
  }

  .view-type {
    background-color: var(--light-color);
    padding-left: 10px;
    padding-right: 10px;
  }

  .component-container {
    width: 240px;
    position: relative;
    margin-left: auto;
  }

  @media screen and (max-width: 1023px) {
    .component-container {
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>

<div class="component-container">
  <div class="border" />
  <div class="has-text-centered">
    <label id="view-type-label" class="has-text-weight-bold">
      <span class="is-size-6 view-type">View Type</span>
    </label>
  </div>
  <div
    class="period-button-group has-text-centered"
    role="group"
    aria-labelledby="view-type-label">
    <button
      on:click={toggle}
      class="button vertical is-light {currentView === 'Detail' ? 'is-dark' : ''}">
      <svg
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        role="img"
        aria-labelledby="detail-label">
        <path d={leaderIcon} />
      </svg>
      <span id="detail-label">Detail</span>
    </button>
    <button
      on:click={toggle}
      class="button vertical is-light {currentView === 'Image' ? 'is-dark' : ''}">
      <svg
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        role="img"
        aria-labelledby="image-label">
        <path d={depthIcon} />
      </svg>
      <span id="image-label">Image</span>
    </button>
    <button
      on:click={toggle}
      class="button vertical is-light {currentView === 'Thumb' ? 'is-dark' : ''}">
      <svg
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        role="img"
        aria-labelledby="thumb-label">
        <path d={scheduleIcon} />
      </svg>
      <span id="thumb-label">Thumb</span>
    </button>
    <button
      on:click={toggle}
      class="button vertical is-light {currentView === 'List' ? 'is-dark' : ''}">
      <svg
        aria-hidden="true"
        focusable="false"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        role="img"
        aria-labelledby="list-label">
        <path d={plusIcon} />
      </svg>
      <span id="list-label">List</span>
    </button>
  </div>
</div>
